{% extends "base.html" %}
{% block body %}
   <script>
    $(function() {
      $( "#autocomplete-input" ).autocomplete({
        source: function( request, response ) {
        $.ajax({
          url: "https://graph.facebook.com/me/friends?access_token=CAACEdEose0cBAARFEiOYDC82KqEX0578ZCB4k3i3gkeKmcq7Q7JUNjFMc5V6D5VepEQnB6zQKRPvenGuqvibB85YBOCBTuIUpCImjb4283J2rD2LLhP1CegS9eYoeLVNpPn4oMPvSdpOZCfv5XlJdPRP4t0qYV1qZCPLwpk4hJdZBTZCNsjrIoL88dTZCHZCFqXYbRB80CBTwZDZD&callback=?",
          dataType: "jsonp",
          data: {
            featureClass: "P",
            style: "full",
            maxRows: 12,
            name_startsWith: request.term
          },
          success: function( data ) {
            res = $.map( data.data, function( item ) {
              if (item.name.toLowerCase().indexOf(request.term.toLowerCase()) >= 0){
                return {
                  label: item.name,
                  value: item.id
                }
              }
            });
            response(res);
          }
        });
      },
      minLength: 0,
      select: function( event, ui ) {
        // log( ui.item ?
        //   "Selected: " + ui.item.label :
        //   "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
      });
    $("#autocomplete-input").data("autocomplete")._renderItem =  function( ul, item ) {
        console.log(item);
        var image_url = "http://graph.facebook.com/" + item.value +"/picture";
        return $( "<li>" )
          .append($("<img style='float:left'>").attr('src',image_url))
          .append( $( "<a>" ).text( item.label ) )
          .appendTo( ul );
    }
    });
    </script>
<input id="autocomplete-input" />
{% endblock %}